@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
p{
    line-height: 1.7;
}
.container{
    width: 1150px;
    margin: auto;
}
.row{
    display: flex;
  flex-wrap: wrap;
    
}
img{
    max-width: 100%;
}
.col-3{
max-width: 33.33%;
flex-basis: 33.33%;
padding: 15px;
}
/* header css */


header{
border-bottom: 2px solid #3b506c1c;
position: fixed;
width: 100%;
background-color: #fff;
z-index: 10;
}
header .row{
    align-items: center;
}
.logo{
flex-basis: 20%;
max-width: 20%;
}
.logo a{
    
}
.logo a img{

}
nav{
flex-basis: 80%;
max-width: 80%;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
nav ul li{
    
}
nav ul li a{
   display: block; 
   color: #3b506c;
   text-transform: capitalize;
   text-decoration: none;
   padding: 20px 15px;
font-weight: 400;
  font-size: 18px;
  border-bottom: 1px solid none ; 
}
nav ul li a span{
    width: 0;
    height: 2.5px;
    background-color:#3b506c ;
    display: block;
}
nav ul li a:hover span{
    width: 100%;
    transition: all ease .5s;
}
nav ul li a:hover{
    transform: scale(1.1);
    transition: all ease .5s;
    color:#0c66FF ;
 
}
/* header css */

/* Banner css */
.banner-section{
padding: 80px 0;
}
.banner-section .content{
    text-align: center;
}
.banner-section .content h1{
   font-size: 53px; 
   color:#162c48 ;
}
.banner-section .content h1 span{
    display: block;
    color:#0c66FF ;
    position: relative;
}


.banner-section .content img{
    max-width: 500px;
}
.banner-section .content p{
  color: #3b506c;  
  max-width: 800px;
  margin: 20px auto;
  font-weight: 300;
}
/* Banner css */

/* Features css */
.features-section{
padding: 40px 0;
}
.features-section .row{
justify-content: center;
}
.features-content{

}

.features-content h2{
font-size: 45px;
color:#162c48 ;
line-height: 1;
font-weight: 700;
}
.features-content h2 span{
    color: #ff4141;
}
.features-content p{
    color: #3b506c;  
    margin: 20px auto;
    font-weight: 400;
    margin: 5px auto;
}
.text-right{
    text-align: right;
}


/* Blog css */
.blog-section{
padding-bottom: 40px;
}
.post{
padding: 30px;
box-shadow: 0 0 8px 0px  #dee6f1
}
.post:hover{
    transform: translateY(-6px);
    transition: all ease .5s;
}
.illustration-5{
background: #FDEBFD;
}
.illustration-6{
    background: #EBF9F4;
}
.illustration-7{
    background: #ebf1bf91;
}
.post h3{
    font-size: 24px;
    color:#162c48 ;
    line-height: 1;
    font-weight: 700;
}
.post img{
max-height: 150px;
display: block;
margin:50px auto;
margin-bottom: 25px;
}
.post p{
    color: #3b506c;  
    margin: 20px auto;
    font-weight: 400;
    margin: 5px auto;
    line-height: 1.6;
}
/* Footer css */
footer{
background-color: #0c66FF;
text-align: center;
padding: 20px 0;
}
footer p{
   color: #ffffff9f; 
   
}
footer p strong{
color: #FFF;
letter-spacing: 3px;
}
/* sociallist */
.social-list{
    display: flex;
    list-style: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    left: 10px;
}
.social-list li{
flex: 1 , 0 auto;
}
.social-list a{

background-color: #162c48;
color: white;
width: 35px;
height: 35px;
align-items: center;
justify-content: center;
border-radius: 50%;
display: flex;
margin-bottom: 6px;
text-decoration: none;
box-shadow: 5px 4px 10px #0000003b ;
border: 1px solid #162c48 ;
}
.social-list li a:hover{
background-color: transparent;
color: #162c48;
transition: all ease .5s;
}




@media  (max-width: 1200px) {
    .container{
        width: 900px;
        margin: auto;
    }
    .banner-section .content h1 {
        font-size: 45px;

    }
    .banner-section .content p {
        max-width: 700px;
    
    }
    .banner-section .content img {
        max-width: 400px;
    }
    .features-content h2 {
        font-size: 40px;
        font-weight: 700;
        padding-top: 15px;

    }
    .features-content p {
        font-size: 16px;
        margin: 0 auto;
    }
    .post h3 {
        font-size: 20px;
        
    }
    .post p {
        font-size: 16px;
        
    }
    .post img {
        max-height: 130px;
        
    }
    .post {
        padding: 20px;
    }
    footer {
        padding: 15px 0;
    }
  }
  @media  (max-width: 992px) {
    .container{
        width: 700px;
        margin: auto;
    }
    .features-content h2 {
        font-size: 34px;
        font-weight: 700;
        padding-top: 15px;

    }
    .features-content p {
        font-size: 14px;
        margin: 0 auto;
    }
    .post p {
        font-size: 14px;
        
    }
    .post img {
        max-height: 100px;
        
    }
}
@media  (max-width: 768px) {
    .container{
        width: 100%;
        padding: 0 20px;
    } 
    img {
        max-width: 80%;
    }
    nav ul li a {
        font-size: 14px;
    }
    .banner-section .content h1 {
        font-size: 35px;
    }
    .banner-section .content p {
        font-size: 14px;
    }
    .banner-section .content img {
        max-width: 300px;
    }
    .features-content h2 {
        font-size: 35px;
        line-height: 1.1;
}
.col-3{
    max-width: 50%;
    flex-basis: 50%;
    
    }
    .post h3 {
        font-size: 16px;
    }
}
@media  (max-width: 576px) {
    .container{
        width: 100%;
        padding: 0 20px;
    } 
    .logo{
        flex-basis: 100%;
        max-width: 100%;
        text-align: center;
       
        }
    nav{
            flex-basis: 80%;
            max-width: 80%;
            margin-left: 50px;
            }
    .logo a img {
            max-width: 100%;
        }
        .col-3{
            max-width: 100%;
            flex-basis: 100%;
            
            }
            .social-list{
                display: none;
            }
            .banner-section .content h1 {
                font-size: 30px;
                margin-top: 50px;
            }
            .banner-section {
                padding: 60px 0;
            }
            .text-right{
                text-align: center;
            }
            .features-content h2 {
                font-size: 30px;
                text-align: center;
                line-height: 1.1;
            }
            .features-content{
                margin: 2px 0;
            }
            .post p {
                 margin: 20px auto;
                margin: 10px auto;
                line-height: 1.7;
            }
            footer p {
                color: #ffffff9f;
                font-size: 15px;
            }
            footer {
                padding: 10px 0;
            }
    }
     @media  (max-width: 400px){
        .content {
            padding-top: 80px;
         }
        nav{
           padding-right: 13px;
           
           flex-basis: 90%;
           max-width: 90%;
        }
        .banner-section {
            padding: 40px 0;
        }
    }
    @media  (max-width: 350px){
        .content {
           padding-top: 70px;
        }
        nav{
           padding-right: 18px;
           
           flex-basis: 100%;
           max-width: 100%;
        }
        .banner-section {
            padding: 40px 0;
        }
    }
    @media  (max-width: 350px){
        .content {
           padding-top: 70px;
        }
        nav{
           padding-right: 18px;
           
           flex-basis: 100%;
           max-width: 100%;
        }
        .banner-section {
            padding: 40px 0;
        }
    }
    @media  (max-width: 300px){
        .content {
           padding-top: 70px;
        }
        nav{
          
           
           flex-basis: 100%;
           max-width: 100%;
        }
        .banner-section {
            padding: 0;
        }
        nav ul li a {
           
            padding: 20px 4px;
            
            
        }
    }
